
}
#div1{
}

}
#div5{
display: inline-block;

}
.carrinho{
  
}
.col-7{
  background-position: center;
  margin-top: 30px;
}
.col-3{
  margin-top: 60px;
}

.div4{
  margin-top: 30px;
}

.col-12{
  margin-top: 30px;
  background-position: center;
  margin-left: 20px;
  margin-right: 50px;
}

.reileao{
	font-family: fantasy;
	position: center;

}

.div4{
	margin-right: 20;
}

