
}
#div1{
}

}
#div5{
display: inline-block;

}
.carrinho{
  
}
.col-7{
  
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.footer{
	width: 100%;
	background-color: silver;
	position:absolute;
	left: 0px;
}
.col-3{
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.action{
	text-align: center;
}

.div4{
  margin-top: 30px;
}
.fundorodape{
	background-color: #AEA9A9;
}
.pdp{
	margin-left: 30px;
}
.kk{
	margin-right: 10px;
}

.col-12{
  margin-top: 30px;
  background-position: center;
  margin-left: 30px;
  margin-right: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.reileao{
	font-family: fantasy;
	position: center;
	color: black;

}
.button{
	background-color: #0080FF;
	border-color: #0080FF;
}

.alg{
	color: white;
}

.but{
	margin-right: 20px;
}


